@import '../../../../styles/settings/theme';
@import '../../../../styles/tools/z-index';

.scenario-summary-footer {
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;
  z-index: map-get($zindex, footer);
  border-top: 1px solid $gray-lighter;

  .disabled {
    opacity: 0.3;
  }

  .action {
    &:hover {
      background: $gray-lighter;
      cursor: pointer;
    }
  }

  .btn {
    cursor: pointer;
  }
}
