@import '../../../../styles/settings/theme';

.sub-nav {
  &__link {
    font-size: 12px;
    padding: calc(1rem + 4px);//Difference in fontsize in menu levels
    color: $white;
    &.active {
      box-shadow: inset 0px -6px 0px 0px $brand-primary;
    }
    &:hover {
    	background-color: $nav-hover;
  	}
    i {
      font-size:18px;
    }
  }
}
