@import '../../../../styles/settings/theme';

.scenario-container {
  background: $white;
}

.step {
  &__header {
    color: $brand-primary;
  }
}

.scenario-edit-page {
   min-height: 50vh;
   max-width: 50em;
   margin: 0 auto;
}

.scenario-inner-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-direction: row;

  &-content {
    flex: 1;
  }

  .arrow {
    font-size: 2em;
    font-weight: lighter;
  }

}
